{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ user.username }}</h2>
            <p>
                Age: {{ user.profile.age }}<br/>
                Location: {{ user.profile.location }}<br/>
                Interests: {{ user.profile.interests }}
            </p>
        </div>
        <div class="col-md-6">

            <h3>Most Popular Bookmarks:</h3>
            {% for bm in bookmarks %}
            <h4><a href="{% url 'show_bookmark' bm.id %}">{{ bm }}</a>-{{ bm.click_count }} clicks</h4>

            <p><a href="{% url 'update_bookmark' bm.id %}">Update</a>
                <a href="{% url 'delete_bookmark' bm.id %}">Delete</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}