{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2>All Bookmarks in {{ tag }}</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% for bm in top_in_tag %}

        <h4><a href="{% url 'show_bookmark' bm.id %}">{{ bm.title }}</a></h4>

        <p><a href="{% url 'show_user' bm.user.id %}">{{ bm.user }}</a> -- {{ bm.marked_at }}</p>
            {% endfor %}
    </div>
    <div class="col-md-6">

    </div>
</div>
</div>


{% bootstrap_pagination page_obj %}
{% endblock %}